<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Anna Solovjova - Personal website</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->

     <%- include('nav.ejs') %>


  <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Education
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <h2> 09/12 - BSc. (Hons) Applied Computing University of Dundee</h2>
        <p>Graduated with First Degree. Gained qualification in following modules: Software Development using Java programming language, Object Oriented analysis, Data Structures & Algorithms, Web Authoring, Multi-paradigm programming using C and C++ programming languages, Networks and Data Communications,  Database systems, Big Data Analysis.
            Final year project: "Mobile Diabetes Project. The „KetoApp‟: A Diabetic Ketoacidosis Prevention Application”. (A3)
        </p>
        <h2>09/00- 06/12 Secondary School No.2, Liepaja, Latvia</h2>
        <p>Highers: Maths (A), English (B), Informatics (10 out of 10)</p>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Work Experience
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <h2> 02/18 - Software Engineer( Canon Medrical Research Europe) </h2>
        <p> Developing C++ windows desktop application running on ultrasound scanner workstation. Due to project agility and rapid feedback the position implies to be adaptive to change and constant collaboration between sites.  The responsibilities include</p>
            <ul>
                <li>New feature development and support for previous releases</li>
                <li>Requirement gathering</li>
                <li>Writing and executing manual and unit tests</li>
                <li>Evaluating the releases on sites</li>
                <li>Following the process to release the software to the stakeholders</li>
            </ul>
 
        <h2>08/16 - 12/17 Graduate Software Engineer (Citrix Systems)</h2>
        <p>Mostly working within small agile team on day to day basis, this job also provided invaluable experience to work on more global scale with international teams solving complex problems and working on support cases. The project our team was responsible for was Remote Desktop Client for multiple Linux distributions. Coming from a windows development background this job required to learn new tools and processes in a limited time. This Within the role I was participating in different stages of development life cycle, starting from breaking down user stories into the smaller tasks, developing and testing code and ending with working on support cases. Although working primarily in C, the development process often required knowledge in C++ and scripting languages. </p>
        <h2> 06/2015 - 09/2015 Software Development Intern (Toshiba Medical Visualization Systems)</h2>
        <p>Mostly working within small agile team on day to day basis, this job also provided invaluable experience to work on more global scale with international teams solving complex problems and working on support cases. The project our team was responsible for was Remote Desktop Client for multiple Linux distributions. Coming from a windows development background this job required to learn new tools and processes in a limited time. This Within the role I was participating in different stages of development life cycle, starting from breaking down user stories into the smaller tasks, developing and testing code and ending with working on support cases. Although working primarily in C, the development process often required knowledge in C++ and scripting languages. </p>

      </div>
    </div>
  </div>
</div>

 <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  
</body>
</html>
