<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Anna Solovjova - Personal website</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/the-big-picture.css" rel="stylesheet">
    <link href="css/button.css" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css">

</head>

<body>

  <!-- Navigation -->
  <header>
     <%- include('nav.ejs') %>
  </header>
  <!-- Page Content -->
  <section>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-6 align-self-center">
          <h1>Hi, I'm Anna! Welcome to my personal website.</h1>
          <p>My name is Anna Solovjova and I am a Software Engineer. This website is created to be portfolio/personal space where I can share my skills, projects, interests,</p>
        </div>
        <div class="col-lg-6 align-self-center text-center">
            <img class="circular_image" src="images/anna.jpg" width="200" height="200" />
            <div>
                <a href="https://www.linkedin.com/in/anna-solovjova/" class="fa fa-linkedin fa-lg"></a>
                <a href="https://github.com/AnnaSolovjova" class="fa fa-github fa-lg"></a>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>
